<section>
  <div class="container-fluid">
    <div class="row align-items-center" id="header">
      <div class="d-flex justify-content-md-center col align-self-center">
        <img src="/assets/images/Poletize.png" id="logo">
      </div>
    </div>
    <div class="row align-items-center bg">

      <div class="container" id="titulo">
        <div class="row">
          <div class=" col align-self-center">
            <h1>Somos a <strong>Poletize.</strong> Nós chegamos para<strong> tornar</strong></h1>
            <h1><strong>a sua vida política muito mais fácil.</strong></h1>
          </div>
        </div>

        <div class="row">
          <div class="col align-self-center">
            <div class="d-flex justify-content-md-center">
              <div class="card" style="width: 25rem; height: 5rem;">
                <div class="card-body" id="cardbody1">
                  <h5 class="card-title" id="cardtitle">Faça o download gratis!</h5>
                  <p class="card-text" id="cardtext">Basta preencher os *campos abaixo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col align-self-center">
            <div class="d-flex justify-content-md-center">
              <div class="card" style="width: 25rem; height: 22rem;" id="card2">
                <form action="#">
                  <div class="card-body">
                    <div class="input-group flex-nowrap">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" placeholder="Nome:" aria-label="Nome"
                        aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" placeholder="Email:" aria-label="Email"
                        aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" placeholder="Contato:" aria-label="Contato"
                        aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                      <div class="input-group-prepend">
                      </div>
                      <div class="d-flex justify-content-md-center">

                        <p>
                          <label>
                            <input name="group1" type="radio" checked />
                            <span>Político</span>
                          </label>
                          <label>
                            <input name="group1" type="radio" />
                            <span>Assessor</span>
                          </label>
                        </p>
                        <a class="waves-effect waves-light btn" id="#baixar">
                          <h5 class="cardtitle">BAIXAR</h5>
                        </a>
                        <p class="aviso">Prometemos não utilizar suas informações<br>
                          de contato para enviar qualquer tipo de SPAM.</p>


                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="footer container-fluid">
    <div class="col-12">
      <div class="footer">
        <p>EV Marketing & Sistemas LTDA | CNPJ: 07.976.431/0001-37 | © Edumidia - Desde 2015</p>
      </div>
    </div>
  </div>
</footer>
