#header {
  background-color: #fff;
}
#titulo {
  margin-top: 100px;
  margin-bottom: 30px;
}
#logo {
  width: 100%;
  max-width: 150px;
  margin: 25px auto;
  text-align: center;
}
.bg {
  background-image: url("/assets/images/1920.png");
  background-color: #146984;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-title{
  margin-top: 10px;
}
h1 {
  text-align: center;

  font-size: 22px;
  // font-weight: 600;
  color: aliceblue;
}
.space {
  padding: 62px 60px;
}
.space2 {
  padding: 10px 10px;
}
.card {
  background-color: darkslategray;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
#card2 {
  background-color: lightgray;
  margin-bottom: 0;
}
.titulo-poletize{
  max-width: 390px;
  margin: 0 auto;
}
div#titulos-poletize {
  margin-bottom: 32px;
}
#cardbody1 {
  flex: 1 1 auto;
  min-height: 5px;
  padding: 10px;
}
#cardtitle {
  font-weight: bolder;
  color: aliceblue;
  text-align: center;
  font-size: 25px;

}
#cardtext {
  font-weight: 480;
  font-size: 16px;
  color: aliceblue;
  text-align: center;
}
#cardtitle2 {
  font-weight: bolder;
  color: aliceblue;
  text-align: center;
}
#cardtext2 {
  font-weight: lighter;
  font-size: 15px;
  color: aliceblue;
  text-align: center;
}
.input-group {
  margin-top: 10px;
}
#baixar {
  float: right;
}

.btn-submit-baixar{
  background-color: darkslategray;
  color: aliceblue;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

.aviso {
  font-size: 13px;
  text-align: center;

}
.input-group {
  margin-top: 5px;
}
.space2 {
  padding: 5px 5px;
}
.footer {
  padding: 3px 3px;
  background: linear-gradient(
    90deg,
    rgb(15, 159, 179) 0%,
    rgb(16, 174, 189) 56%,
    rgb(13, 175, 207) 100%
  );
  vertical-align: top;
}
.footer p {
  text-align: center;
  font-weight: 500;
  float: top;
  vertical-align: text-top;
  color: aliceblue;
}
.overflow {
  background: linear-gradient(
    90deg,
    rgb(15, 159, 179) 0%,
    rgb(16, 174, 189) 56%,
    rgb(13, 175, 207) 100%
  );
  vertical-align: top;
}
@media screen and (max-width: 1000px) {
  #titulo{
    margin-top: 90px;
  }
}
@media screen and (max-width: 1322px) {
  .bg {
    background-image: url("/assets/images/1322.png");
  }
}
@media screen and (max-width: 1280px) {
  .bg {
    background-image: url("/assets/images/1280.png");
  }
}
@media screen and (max-width: 900px) {
  .bg {
    background-image: url("/assets/images/900.png");
  }
}
@media screen and (max-width: 360px) {
  .bg {
    background-image: url("/assets/images/360.png");
  }
}
@media screen and (max-width: 600px) {
  .bg {
    background-image: url("/assets/images/600.png");
  }
  .aviso {
    font-size: 13px;
    text-align: center;
  }
  .titulo-poletize{
    max-width: 360px;
    width: 100%;
  }
  #titulo{
    margin-top: 100px;
  }
  .card-body{
    padding-left: 0;
    padding-right: 0;
  }
  #cardbody1{
    font-size: 20px;
  }

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
