<ngx-loading-bar></ngx-loading-bar>
<section>
  <div class="container-fluid">
    <div class="row align-items-center" id="header">
      <div class="d-flex justify-content-md-center col align-self-center">
        <img src="/assets/images/Poletize.png" id="logo">
      </div>
    </div>
    <div class="row align-items-center bg">

      <div class="container" id="titulo">
        <div class="row" id="titulos-poletize">
          <div class="col align-self-center">
            <h1 class="titulo-poletize">Somos a <strong>Poletize.</strong><br> Nós chegamos para<strong> tornar</strong>
            </h1>
            <h1 class="titulo-poletize"><strong>a sua vida política muito mais fácil.</strong></h1>
          </div>
        </div>

        <div class="row">
          <div class="col align-self-center">
            <div class="d-flex justify-content-md-center">
              <div class="card" style="width: 400px; height: 100px;">
                <div class="card-body" id="cardbody1">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="card-title" id="cardtitle">Faça o download gratis!</h5>
                      <p class="card-text" id="cardtext">Basta preencher os *campos abaixo</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col align-self-center">
            <div class="d-flex justify-content-md-center">
              <div class="card" id="card2" style="width: 400px;">
                <div class="card-body">
                  <div class="col-12">
                    <form class="example-form" [formGroup]="profileForm">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Nome</mat-label>
                        <input formControlName="nome" type="text" required aria-label="Nome" matInput
                          placeholder="Seu Nome">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error>Nome obrigatório</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" formControlName="email" required aria-label="Email" matInput
                          placeholder="email@example.com">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error>Email inválido</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Telefone</mat-label>
                        <input type="tel" formControlName="telefone" required aria-label="(00) 99999-9999" matInput
                          placeholder="(00) 99999-9999" mask="(00) 00000-0000" prefix="+55" [showMaskTyped]="true">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error>Telefone inválido</mat-error>
                      </mat-form-field>
                      <div class="example-full-width">

                        <mat-radio-group aria-label="Select an option" formControlName="cargo">
                          <mat-radio-button value="1" required style="margin-right: 20px;">Político</mat-radio-button>
                          <mat-radio-button value="2">Assessor</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="example-full-width">
                        <mat-error *ngIf="profileForm.get('cargo').invalid && profileForm.touched" >Selecione o cargo</mat-error>
                      </div>
                      <div class="example-full-width t-center aviso">
                        <button class="btn btn-default btn-submit-baixar example-full-width"
                          (click)="salvarDados($event)">
                          <span class="cardtitle">{{title}}</span>
                        </button>
                      </div>
                      <div class="example-full-width t-center">
                        <p class="aviso">Prometemos não utilizar suas informações<br>
                          de contato para enviar qualquer tipo de SPAM.</p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="footer container-fluid">
    <div class="col-12">
      <div class="footer">
        <p>EV Marketing & Sistemas LTDA | CNPJ: 07.976.431/0001-37 | © Edumidia - Desde 2015</p>
      </div>
    </div>
  </div>
</footer>
